---
permalink: /search.json
eleventyExcludeFromCollections: true
---
[
  {% for post in collections.posts | reverse %}
    {
      "title": "{{ post.data.title | escape }}",
      "url": "{{ post.url | url }}",
      "image": "{{post.data.image | url }}",
      "tags": [{% for tag in post.data.tags %}"{{ tag }}"{% if not loop.last %}, {% endif %}{% endfor %}],
      "content": "{{ post.templateContent | striptags | truncate(300) | escape }}"
    }
    {% if not loop.last %},{% endif %}
  {% endfor %}
]
